@page "/personal"
@inject MudBlazor.ISnackbar snackBar
<h2>Personal</h2>



<MudCard Elevation="3">
	<MudForm Model="@PersoModel">
		<MudCardContent >

			<EditForm OnValidSubmit="Add" OnInvalidSubmit='()=>snackBar.Add("Provide a name",Severity.Warning)' Model="@PersoModel">
				<MudGrid>

					<MudItem md="2" sm="2">
						<MudSelect T="int?" @bind-Value="PersoModel.IdGrupo" Label="Grupo" HelperText="Seleccione un grupo" OpenIcon="@Icons.Material.Filled.Groups" AdornmentColor="Color.Primary">
							<MudSelectItem T="int?" Value="1">A</MudSelectItem>
							<MudSelectItem T="int?" Value="2">B</MudSelectItem>
							<MudSelectItem T="int?" Value="3">C</MudSelectItem>
							<MudSelectItem T="int?" Value="4">D</MudSelectItem>
						</MudSelect>
					</MudItem>

					<MudItem md="6" sm="4">
						<MudSelect @bind-Value="enumValue" Label="Select drink" HelperText="Enum" OpenIcon="@Icons.Material.Filled.WorkspacePremium" AdornmentColor="Color.Primary">
							@foreach (Drink item in Enum.GetValues(typeof(Drink)))
							{
								<MudSelectItem Value="@item">@item</MudSelectItem>
							}
						</MudSelect>
					</MudItem>
				</MudGrid>

				<MudGrid>

					<MudItem md="4" sm="4">
						<MudTextField @bind-Value="PersoModel.PeFicha" Label="Ficha" Variant="Variant.Outlined"></MudTextField>
					</MudItem>

					<MudItem md="6" sm="3">

						<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Search" />
					</MudItem>
				</MudGrid>

				<MudGrid>
					<MudItem md="4" sm="4">
						<MudTextField @bind-Value="PersoModel.PeNombre" Label="Nombre" Variant="Variant.Outlined"></MudTextField>
					</MudItem>

					<MudItem md="4" sm="4">
						<MudTextField @bind-Value="PersoModel.PeApellido" Label="Apellido" Variant="Variant.Outlined"></MudTextField>
					</MudItem>
				</MudGrid>

				<MudGrid>
					<MudItem md="6" sm="3">
						<MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Primary" Class="ml-auto" Icon="@Icons.Material.Filled.Save" IconSize="Size.Small">Registrar</MudButton>
					</MudItem>
				</MudGrid>

			</EditForm>



		</MudCardContent>
	</MudForm>
	<MudCardActions>
		@*        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await Submit())">Order</MudButton>
		*@
	</MudCardActions>
</MudCard>

@code {

	Personal PersoModel = new Personal();

	private Drink enumValue { get; set; } = Drink.HotWater;
	public enum Drink { Tea, SparklingWater, SoftDrink, Cider, Beer, Wine, Moonshine, Wodka, Cola, GreeTea, FruitJuice, Lemonade, HotWater, SpringWater, IceWater, }

	private void Add()
	{
		//if (employee.EmployeeId == 0)
		//{
		//	employeeService.Add(employee);
		//}
		//else
		//{
		//	employeeService.Update(employee);
		//}
		//employee = new Employee();
		//snackBar.Add("Employee Added.", Severity.Success);
		//GetAll();
	}
}
