@page "/resumen"


<h2>Resumen Diario</h2>

<MudGrid>

	<MudItem md="4" sm="6">
		<MudSelect T="int" @bind-Value="idArea" Label="Línea/Área" HelperText="Seleccione un area o Linea" OpenIcon="@Icons.Material.Filled.Factory" AdornmentColor="Color.Primary">
			<MudSelectItem T="int" Value="1">Conversion</MudSelectItem>
			<MudSelectItem T="int" Value="2">Molinos</MudSelectItem>
			<MudSelectItem T="int" Value="3">PT</MudSelectItem>
		</MudSelect>
	</MudItem>

	<MudItem md="2" sm="6">
		<MudSelect T="int" @bind-Value="idGrupo" Label="Grupo" HelperText="Seleccione un grupo" OpenIcon="@Icons.Material.Filled.Groups" AdornmentColor="Color.Primary">
			<MudSelectItem T="int" Value="1">A</MudSelectItem>
			<MudSelectItem T="int" Value="2">B</MudSelectItem>
			<MudSelectItem T="int" Value="3">C</MudSelectItem>
			<MudSelectItem T="int" Value="4">D</MudSelectItem>
		</MudSelect>
	</MudItem>

	<MudItem md="2" sm="2">
		<MudSelect T="int" @bind-Value="Turno" Label="Turno" HelperText="Seleccione un turno Open" Icon="@Icons.Material.Filled.PunchClock" AdornmentColor="Color.Primary">
			<MudSelectItem T="int" Value="1">1</MudSelectItem>
			<MudSelectItem T="int" Value="2">2</MudSelectItem>
			<MudSelectItem T="int" Value="3">Normal</MudSelectItem>
		</MudSelect>
	</MudItem>

	<MudItem md="3" sm="3">
		<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.PlaylistAddCheckCircle" OnClick="Get" />
	</MudItem>


</MudGrid>
<p></p>
<p></p>

@if (Mostrar == 1)
{
    <MudSimpleTable Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Style="overflow-x: auto;">
        <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in rows)
            {
                <tr>
                    @foreach (var x in row.Split())
                    {
                        <td>@x</td>
                    }
                </tr>
            }
        </tbody>
    </MudSimpleTable>
    <MudToolBar>
        <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
        <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
        <MudSwitch @bind-Checked="@striped" Color="Color.Tertiary">Striped</MudSwitch>
        <MudSwitch @bind-Checked="@bordered" Color="Color.Warning">Bordered</MudSwitch>
    </MudToolBar>
}

@code {


    Resuman ResumenModel = new Resuman();

    private int idPlanta { get; set; } = 1;
    private int idArea { get; set; } = 1;
    private int idGrupo { get; set; } = 1;
    private int Turno { get; set; } = 1;
    private int Mostrar { get; set; } = 0;

    private void Get()
    {
        if (Mostrar == 1)
        {
            Mostrar = 0;
        }
        else
        {
            Mostrar = 1;
        }

    }

    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;

    string[] headings = { "ID", "Name", "Email", "Gender", "IP Address" };
    string[] rows = {
        @"1 Krishna kpartner0@usatoday.com Male 28.25.250.202",
        @"2 Webb wstitle1@ning.com Male 237.168.134.114",
        @"3 Nathanil nneal2@cyberchimps.com Male 92.6.0.175",
        @"4 Adara alockwood3@patch.com Female 182.174.217.152",
        @"5 Cecilius cchaplin4@shinystat.com Male 195.124.144.18",
        @"6 Cicely cemerine9@soup.io Female 138.94.191.43",
    };




}
