<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
       @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />*@
         <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

            <NotAuthorized>
              
              
               <BSAlert Color="BSColor.Warning" Heading="4">
                    <Header> No está autorizado.</Header>
                        <Content>
                            <p></p>
                            <hr>
                             <p class="mb-0"> Si requiere acceso a este moódulo consulte con los desarrolladores.</p>
                        </Content>
               </BSAlert>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />

    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>